.container{
  background-color: aqua;
  height: 80vh;
  width: 100vw;
  
}
h1{
  text-align: center;
}
.colur-list{
  background-color: aliceblue;
  padding: 20px;
  display:flex;
  flex-direction: row;
  justify-content:space-between ;

}
.colur-list li{
  cursor: pointer;
  list-style-type: none;
  background-color: blue;
  padding: 10px 20px;
  border-radius: 30px;
  color: azure;

}